/*
 * green: 
   color: #8fb061;
 * brown: 
   color: #8d3d0f;
 * gray: lightgray
 *
 * */

:root {
  --primary-color: #FFBF00;
  --secondary-color: green;
  --primary-font-color: cornsilk;
  --secondary-font-color: brown;
  --content-bg-color: black;
  --body-bg-color: cornsilk;
}

/* 
 * LIGHT MODE
  :root {
  --primary-color: blue;
  --secondary-color: green;
  --primary-font-color: black;
  --secondary-font-color: brown;
  --content-bg-color: white;
  --body-bg-color: cornsilk;
}
*/

body {
  font-family: monospace;
  font-size: calc(0.8rem + 0.5vw);
  color: var(--primary-font-color);
  background-color: var(--body-bg-color);
  margin: 8px;
  filter: contrast(1) brightness(1) saturate(1);
}

.desktop {
  display: block;
}
.mobile {
  display: none;
}
html {
}

.range {
  color: var(--secondary-color);
}


h1 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-top: 0px;
}
h2 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-top: 2.5rem;
}
.content {
  order: 1;
  padding: 1rem;
  min-height: calc(100vh - 5.2rem - 0.5vw);
  width: 77%;
  flex: 1;
}

.layout {
  display: flex;
  flex-wrap: wrap;
}

.menu {
  order: 2;
  width: 250px;
  font-size: 1.4rem;
  font-weight: bold;
}

.ap-console {
  border: 4px double var(--secondary-color);
  background-color: var(--content-bg-color);
  color: var(--primary-font-color);
}

.input {
  order: 3;
  width: 100%;
  padding-left: 1rem;
}
.prompt {
  padding-left: 0.5rem;
  flex: 1;
  width: 100px;
  min-width: 20px;
  border: none;
  font-size: calc(0.8rem + 0.5vw);
}
.flex {
  display: flex
}
input:focus {
  outline: none;
}
.selected {
  color: var(--primary-color); 
}
a {
  color: var(--primary-font-color);
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
}
.lightblue {
  color: lightblue;
}
.bold {
  font-weight: bold;
}
.font-small {
  font-size: 0.7rem;
}
.tab {
  padding-left: 2rem;
}
.font-bold {
  font-weight: bold;
}
.brown {
  color: var(--secondary-font-color);
}
.nowrap {
  white-space: nowrap;
}
.simpleborder {
  border: 1px solid ;
}
.gap {
  padding: 10px;
}
td {
  vertical-align: top;
}
.matrix {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  overflow: hidden;
}

.monitorsettings {
  margin-top: 80px;
  list-style-type: none;
  margin-left: 16px;
}

.modesettings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}


/* PROJEKTE */
.projects {
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.project {
  margin: 10px;
  list-style-type: none;
  flex-shrink: 1;
  flex-grow: 1;
  max-width: calc(50% - 30px);
  min-width: 350px;
  height: 100%;
  cursor: pointer;
  perspective: 1000px;
  background-color: transparent;
}
.flipcard {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  border: 4px solid var(--primary-color);
  padding: 20px;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.project:hover .flipcard, .project:focus .flipcard {
  transform: rotateY(180deg);
}
.flipcard-front, .flipcard-back {
  background-color: var(--content-bg-color);
  grid-row: 1;
  grid-column: 1;
  position: relative;
  width: 100%;
  flex-shrink: 0;
  backface-visibility: hidden;
}
.flipcard-front {
  transform: rotateY(0deg);
}
.flipcard-back {
  transform: rotateY(180deg);
}
.project-header {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-align: center;
}
.project-time {
  font-size: 0.9rem;
}
.project-company {
  line-height: 2rem;
}
.project-size {
  font-size: 0.9rem;
  line-height: 2rem;
}
.ul-projects-technologies {
  margin-top: 2rem;
  list-style-type: none;
  font-style: italic;
  font-size: 0.9rem;
  padding: 0;
  margin-bottom: 3rem;
}
.ul-projects-technologies li {
  float: left;
  display: block;
}
.ul-projects-technologies li::after {
  content: ",\00A0";
}
.ul-projects-technologies li:last-child::after {
  content: "";
}
.project-description {
  clear: left;
  font-size: 0.9rem;
}

/* ABOUT */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.flex-column {
  margin-left: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.img {
  width: 150px;
  height: 150px;
}

/* INDEX */
.introtext {
  min-height: 300px;
  margin-bottom: 20px;
}
.header {
  font-style: italic;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 4px;
}
.subheader {
  margin-bottom: 2rem;
}

/* SETTINGS */
.lightmode {
  width: 32px;
  height: 32px;
  background-color:var(--secondary-color);
  background-image: url("/img/lightbulb.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.power {
  width: 32px;
  height: 32px;
  background-color:var(--secondary-color);
  background-image: url("/img/power.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  width: 130px;
  height: 10px;
  border-radius: 5px;
  background: var(--primary-font-color);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: green;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: green;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.contrast::-webkit-slider-thumb {
  background-image: url('/img/contrast.svg');
}
.brightness::-webkit-slider-thumb {
  background-image: url('/img/brightness.svg');
}
.saturation::-webkit-slider-thumb {
  background-image: url('/img/saturation.svg');
}

.contrast::-moz-range-thumb {
  background-image: url('/img/contrast.svg');
}
.brightness::-moz-range-thumb {
  background-image: url('/img/brightness.svg');
}
.saturation::-moz-range-thumb {
  background-image: url('/img/saturation.svg');
}

/* TURN ON/OFF ANIMATION */
@keyframes turnoff {
  0% {
    height: 100%;
    width:  100%;
    border: 2px solid cornsilk;
  }
  10% {
    background-color: white;
    color: white;
  }
  75% {
    height: 2px;
    width: 95%;
    background-color: white;
    border: 1px solid cornsilk;
  }
  98% {
    width: 2px;
    height: 2px;
    background-color: white;
  }
  100% {
    height: 0px;
    width: 0px;
    background-color: white;
    color: white;
    border: none;
  }
}

.turnoffanimation {
  animation-name: turnoff;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
  overflow: hidden;
  width: 0;
  height: 0;
}

.turnoffanimwrapper{
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

@keyframes turnon {
  0% {
    background-color: white;
    filter: blur(5px);
  }
  100% {
  }
}

.turnonanimation {
  animation-name: turnon;
  animation-duration: 2s;
}

@media(max-width: 1100px) {
  .project {
    min-width: calc(100% - 20px); 
  }
}

@media(max-width: 700px) {
  .content {
    order: 2;
    width: 100%;
  }
  .menu {
    order: 1;
    width: 100%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  h2 {
    font-size: calc(0.8rem + 0.8vw);
  }
  h1 {
    font-size: calc(1.3rem + 1.5vw);
  }
  .monitorsettings {
    display: none;
  }
}
