/*
 * green: 
   color: #8fb061;
 * brown: 
   color: #8d3d0f;
 * gray: lightgray
 *
 * */

body {
  font-family: monospace;
  font-size: calc(0.8rem + 0.5vw);
  color: oldlace;
}

html {
}

.content {
  order: 1;
  padding: 1rem;
  min-height: 4rem;
  width: 77%;
  flex: 1;
}

.layout {
  display: flex;
  flex-wrap: wrap;
}

.menu {
  order: 2;
  width: 250px;
  font-size: 1.4rem; 
}

.ap-console {
  border: 4px double green;
  background-color: black;
  color: oldlace;
}

.input {
  order: 3;
  width: 100%;
  padding-left: 1rem;
}
.prompt {
  flex: 1;
  padding-left: .5rem;
  border: none;
  font-size: calc(0.8rem + 0.5vw);
}
.flex {
  display: flex
}
input:focus {
  outline: none;
}
li:hover {
  color: green;
}
a {
  color: oldlace;
  text-decoration: none;
}
a:hover {
  color: green;
}
.lightblue {
  color: lightblue;
}
.bold {
  font-weight: bold;
}
.helpkeyword {
  color: goldenrod;
}
.goldenrod {
  color: goldenrod;
}
.tab {
  padding-left: 2rem;
}
.font-bold {
  font-weight: bold;
}
.font-big {
  font-size: 2rem;
}
.brown {
  color: brown;
}
.nowrap {
  white-space: nowrap;
}
table {
  border: 1px solid;
}
td {
  vertical-align: top;
}
.matrix {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  overflow: hidden;
}

@media(max-width: 700px) {
  .content {
    order: 2;
    width: 100%;
  }
  .menu {
    order: 1;
    width: 100%;
  }
}
