/*
 * green: 
   color: #8fb061;
 * brown: 
   color: #8d3d0f;
 * gray: lightgray
 *
 * */

body {
  font-family: monospace;
  font-size: calc(0.8rem + 0.5vw);
  color: oldlace;
}

html {
}

.content {
  order: 1;
  padding: 1rem;
  min-height: 4rem;
  width: 77%;
  flex: 1;
}

.layout {
  display: flex;
  flex-wrap: wrap;
}

.menu {
  order: 2;
  width: 250px;
  font-size: 1.4rem; 
}

.ap-console {
  border: 4px double green;
  background-color: black;
  color: oldlace;
}

.input {
  order: 3;
  width: 100%;
  padding-left: 1rem;
}
.prompt {
  flex: 1;
  padding-left: .5rem;
  border: none;
  font-size: calc(0.8rem + 0.5vw);
}
.flex {
  display: flex
}
input:focus {
  outline: none;
}
.selected {
  color: goldenrod; 
}
a {
  color: oldlace;
  text-decoration: none;
}
a:hover {
  color: green;
}
.lightblue {
  color: lightblue;
}
.bold {
  font-weight: bold;
}
.helpkeyword {
  color: goldenrod;
}
.goldenrod {
  color: goldenrod;
}
.tab {
  padding-left: 2rem;
}
.font-bold {
  font-weight: bold;
}
.font-big {
  font-size: 2rem;
}
.brown {
  color: brown;
}
.nowrap {
  white-space: nowrap;
}
table {
  border: 1px solid;
}
td {
  vertical-align: top;
}
.matrix {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  overflow: hidden;
}


/* PROJEKTE */
.projects {
  display: flex;
  padding: 10px;
  margin: 10px;
  width: calc(100% - 40px);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.project {
  border: 1px solid goldenrod;
  padding: 20px;
  margin-bottom: 20px;
  list-style-type: none;
  max-width: calc(50% - 120px);
  flex-shrink: 1;
  cursor: pointer;
}
.project:hover {
  background-color: darkgreen;
}
.pr-left {
  margin-right: 50px;
}
.pr-right {
}
.project-header {
  font-size: 1.4rem;
  color: goldenrod;
  margin-bottom: 1rem;
  text-align: center;
}
.project-time {
  font-size: 0.9rem;
}
.project-company {
  line-height: 2rem;
}
.project-technologies {
  color: white;
  font-style: italic;
}
.ul-projects-technologies {
  list-style-type: none;
  font-style: italic;
  font-size: 0.9rem;
  padding: 0;
}
.ul-projects-technologies li {
  float: left;
  display: block;
}
.ul-projects-technologies li::after {
  content: ", "
}
.ul-projects-technologies li:last-child::after {
  content: ""
}
.project-description {
  clear: left;
  margin-top: 2.3rem;
}

@media(max-width: 700px) {
  .content {
    order: 2;
    width: 100%;
  }
  .menu {
    order: 1;
    width: 100%;
  }
}
